<!-- Load the wagtailimages_tags: -->
{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}  {# Load the static files #}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}">
</head>

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <section class="blog__dtls__sec">
        <div class="container">
            <div class="blog__dtls__wrap">
                <h1>{{ page.title }}</h1>
                <p class="meta">{{ page.date }}</p>

                {% for item in page.gallery_images.all %}
                    <div>
                        {% image item.image fill-320x240 %}
                        <!-- <p>{{ item.caption }}</p> -->
                    </div>
                {% endfor %}

                <div class="intro">{{ page.intro }}</div>

                {{ page.body|richtext }}

                <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
            </div>
        </div>
    </section>

{% endblock %}